<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ginDriver.main.mapper.Md5FileMapper">

    <resultMap id="BaseResultMap" type="com.ginDriver.main.domain.po.Md5File">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="md5" column="md5" jdbcType="VARCHAR"/>
            <result property="contentType" column="content_type" jdbcType="VARCHAR"/>
            <result property="src" column="src" jdbcType="VARCHAR"/>
            <result property="ref" column="ref" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,md5,src,ref,content_type
    </sql>
    <insert id="saveOrUpdate">
        insert into md5_file (id, md5, src, object_name, content_type)
        values (#{id}, #{md5}, #{src}, #{objectName}, #{contentType})
        on duplicate key update ref = ref + 1
    </insert>
</mapper>
