<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ginDriver.main.mapper.MediaMapper">

    <resultMap id="BaseResultMap" type="com.ginDriver.main.domain.po.Media">
        <id property="id" column="id" jdbcType="BIGINT"/>
        <id property="userId" column="user_id" jdbcType="BIGINT"/>
        <result property="fileName" column="file_name" jdbcType="VARCHAR"/>
        <result property="src" column="src" jdbcType="VARCHAR"/>
        <result property="status" column="status" jdbcType="TINYINT"/>
        <result property="self" column="self" jdbcType="TINYINT"/>
        <result property="groupId" column="group_id" jdbcType="BIGINT"/>
        <result property="mimeType" column="mime_type" jdbcType="VARCHAR"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <resultMap id="MediaVOResultMap" type="com.ginDriver.main.domain.vo.MediaVO">
        <id property="id" column="id" jdbcType="BIGINT"/>
        <result property="userId" column="user_id" jdbcType="BIGINT"/>
        <result property="groupId" column="group_id" jdbcType="BIGINT"/>
        <result property="username" column="username" jdbcType="VARCHAR"/>
        <result property="fileName" column="file_name" jdbcType="VARCHAR"/>
        <result property="type" column="type" jdbcType="INTEGER"/>
        <result property="src" column="src" jdbcType="VARCHAR"/>
        <result property="url" column="url" jdbcType="VARCHAR"/>
        <result property="status" column="status" jdbcType="INTEGER"/>
        <result property="self" column="self" jdbcType="INTEGER"/>
        <result property="mimeType" column="mime_type" jdbcType="VARCHAR"/>
        <result property="mediaDate" column="media_date" jdbcType="DATE"/>
        <result property="width" column="width" jdbcType="INTEGER"/>
        <result property="height" column="height" jdbcType="INTEGER"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>


    <sql id="Base_Column_List">
        id,user_id,file_name,src,`group_id`,`status`,self,`mime_type`,create_time,update_time
    </sql>
    <sql id="Media_Base_Column_List">
        ${alias}.id,
        ${alias}.user_id,
        ${alias}.file_name,
        ${alias}.src,
        ${alias}.`group_id`,
        ${alias}.`status`,
        ${alias}.self,
        ${alias}.`mime_type`,
        ${alias}.create_time,
        ${alias}.update_time
    </sql>
    <sql id="MediaVO_Base_Column_List">
        ${alias}.create_time mediaDate,
        ${alias}.width,
        ${alias}.height
    </sql>
    <insert id="insertOrUpdateByMe">
        insert into media
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="fileName != null">fileName,</if>
            <if test="src != null">src,</if>
            <if test="status != null">`status`,</if>
            <if test="self != null">self,</if>
            <if test="mimeType != null">`mime_type`,</if>
        </trim>
        <trim prefix="values(" suffixOverrides="," suffix=")">
            <if test="fileName != null">#{fileName},</if>
            <if test="src != null">#{src},</if>
            <if test="status != null">#{status},</if>
            <if test="self != null">#{self},</if>
            <if test="mimeType != null">#{mimeType},</if>
        </trim>
        ON DUPLICATE KEY UPDATE
        <trim suffixOverrides=",">
            <if test="fileName != null">file_name = #{fileName},</if>
            <if test="src != null">src = #{src},</if>
            <if test="status != null">`status` = #{status},</if>
            <if test="self != null">self = #{self},</if>
            <if test="mimeType != null">`mime_type` = #{mimeType},</if>
        </trim>
    </insert>
    <delete id="deleteByMediaId">
        delete
        from media
        where id = #{id};
    </delete>
    <select id="selectByUserId" resultType="com.ginDriver.main.domain.po.Media">
        select <include refid="Base_Column_List"/>
        from media
        user_id = #{userId};
    </select>
    <select id="selectGroupByMonth" resultType="java.util.Map">
        select year(media_date) year, month(media_date) month
        from media where media_date is not null
        group by year(media_date), month(media_date)
        order by year(media_date), month(media_date)
    </select>
    <select id="selectGroupByYear" resultType="java.lang.String">
        select year(media_date) year
        from media where media_date is not null
        group by year(media_date)
        order by year(media_date)
    </select>
    <select id="selectBetweenDate" resultType="com.ginDriver.main.domain.vo.MediaVO">
        select
        <include refid="Media_Base_Column_List">
            <property name="alias" value="m"/>
        </include>
        ,
        <include refid="MediaVO_Base_Column_List">
            <property name="alias" value="me"/>
        </include>
        ,
        u.username
        from media m left join media_exif me on m.id = me.media_id
        left join user u on m.user_id = u.id
        where me.create_time between #{startDate} and #{endDate}
    </select>
</mapper>
