<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ginDriver.main.mapper.MediaExifMapper">
    <resultMap id="BaseResultMap" type="com.ginDriver.main.domain.po.MediaExif">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="media_id" jdbcType="BIGINT" property="mediaId"/>
        <result column="width" jdbcType="INTEGER" property="width"/>
        <result column="height" jdbcType="INTEGER" property="height"/>
        <result column="mime_type" jdbcType="VARCHAR" property="mimeType"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="model" jdbcType="VARCHAR" property="model"/>
    </resultMap>
    <sql id="Base_Column_List">
        `id`, `media_id`, `width`, `height`, `mime_type`, `create_time`, `model`
    </sql>

</mapper>