<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ginDriver.main.mapper.MediaMapper">

    <resultMap id="BaseResultMap" type="com.ginDriver.main.domain.po.Media">
        <id property="id" column="id" jdbcType="BIGINT"/>
        <id property="userId" column="user_id" jdbcType="BIGINT"/>
        <result property="fileName" column="file_name" jdbcType="VARCHAR"/>
        <result property="src" column="src" jdbcType="VARCHAR"/>
        <result property="status" column="status" jdbcType="TINYINT"/>
        <result property="self" column="self" jdbcType="TINYINT"/>
        <result property="groupId" column="group_id" jdbcType="BIGINT"/>
        <result property="mimeType" column="mime_type" jdbcType="VARCHAR"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <resultMap id="MediaVOResultMap" type="com.ginDriver.main.domain.vo.MediaVO">
        <id property="id" column="id" jdbcType="BIGINT"/>
        <result property="userId" column="user_id" jdbcType="BIGINT"/>
        <result property="groupId" column="group_id" jdbcType="BIGINT"/>
        <result property="username" column="username" jdbcType="VARCHAR"/>
        <result property="fileName" column="file_name" jdbcType="VARCHAR"/>
        <result property="type" column="type" jdbcType="INTEGER"/>
        <result property="src" column="src" jdbcType="VARCHAR"/>
        <result property="url" column="url" jdbcType="VARCHAR"/>
        <result property="status" column="status" jdbcType="INTEGER"/>
        <result property="self" column="self" jdbcType="INTEGER"/>
        <result property="mimeType" column="mime_type" jdbcType="VARCHAR"/>
        <result property="originalDateTime" column="original_date_time" jdbcType="TIMESTAMP"/>
        <result property="width" column="width" jdbcType="INTEGER"/>
        <result property="height" column="height" jdbcType="INTEGER"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>


    <sql id="Base_Column_List">
        id,user_id,file_name,src,`group_id`,`status`,self,`mime_type`,create_time,update_time
    </sql>
    <sql id="Media_Base_Column_List">
        ${alias}id,
        ${alias}user_id,
        ${alias}file_name,
        ${alias}src,
        ${alias}`group_id`,
        ${alias}`status`,
        ${alias}self,
        ${alias}`mime_type`,
        ${alias}create_time,
        ${alias}update_time
    </sql>
    <sql id="Media_Exif_Base_Column_List">
        ${alias}original_date_time,
        ${alias}adcode,
        ${alias}width,
        ${alias}height,
        ${alias}longitude,
        ${alias}latitude,
        ${alias}model
    </sql>
    <update id="updateMediaDeleted">
        update media
        set deleted = 0
        where id in
        <foreach collection="ids" open="(" close=")" separator="," item="item">
            #{item}
        </foreach>
    </update>
    <select id="selectPageBetweenDate" resultType="com.ginDriver.main.domain.vo.MediaVO">
        select
        <include refid="Media_Base_Column_List">
            <property name="alias" value="m."/>
        </include>
        ,
        <include refid="Media_Exif_Base_Column_List">
            <property name="alias" value="me."/>
        </include>
        ,
        u.username
        from media m
        left join media_exif me on m.id = me.media_id
        left join user u on m.user_id = u.id
        where m.user_id = #{userId}
            and m.deleted = 0
            and me.original_date_time between #{startDate} and #{endDate}
        order by me.original_date_time desc
    </select>
    <select id="selectByCityAdCode" resultType="com.ginDriver.main.domain.vo.MediaVO">
        select
        <include refid="Media_Base_Column_List">
            <property name="alias" value="m."/>
        </include>
        ,
        <include refid="Media_Exif_Base_Column_List">
            <property name="alias" value="me."/>
        </include>
        ,
        u.username
        from media m
        left join media_exif me on m.id = me.media_id
        right join place p on me.adcode = p.adcode
        right join user u on m.user_id = u.id
        where m.user_id = #{userId}
        and m.deleted = 0
        and p.city_adcode = #{adcode}
        order by me.original_date_time desc
    </select>
    <select id="selectThatYearTodayByUserId" resultType="com.ginDriver.main.domain.vo.MediaVO">
        select
        <include refid="Media_Base_Column_List">
            <property name="alias" value="m."/>
        </include>
        ,
        <include refid="Media_Exif_Base_Column_List">
            <property name="alias" value="me."/>
        </include>
        ,
        u.username
        from media_exif me
        left join media m on m.id = me.media_id
        inner join user u on m.user_id = u.id
        where m.user_id = #{userId}
        and m.deleted = 0
        and MONTH(me.original_date_time) = #{month}
        and DAY(me.original_date_time) = #{day}
        order by me.original_date_time desc
        <if test="limit > 0">
            limit #{limit}
        </if>
    </select>
    <select id="selectByProvinceAdCode" resultType="com.ginDriver.main.domain.vo.MediaVO">
        select
        <include refid="Media_Base_Column_List">
            <property name="alias" value="m."/>
        </include>
        ,
        <include refid="Media_Exif_Base_Column_List">
            <property name="alias" value="me."/>
        </include>
        ,
        u.username
        from media m left join media_exif me on m.id = me.media_id
        right join place p on me.adcode = p.adcode
        right join user u on m.user_id = u.id
        where m.user_id = #{userId}
        and m.deleted = 0
        and p.province_adcode = #{adcode}
        order by me.original_date_time desc
    </select>
</mapper>
