<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ginDriver.main.mapper.MediaMapper">

    <resultMap id="BaseResultMap" type="com.ginDriver.main.domain.po.Media">
        <id property="id" column="id" jdbcType="BIGINT"/>
        <id property="userId" column="user_id" jdbcType="BIGINT"/>
        <result property="fileName" column="file_name" jdbcType="VARCHAR"/>
        <result property="src" column="src" jdbcType="VARCHAR"/>
        <result property="status" column="status" jdbcType="TINYINT"/>
        <result property="self" column="self" jdbcType="TINYINT"/>
        <result property="mimeType" column="mime_type" jdbcType="VARCHAR"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,user_id,file_name,src,`status`,self,`format`,create_time,update_time
    </sql>
    <insert id="insertOrUpdateByMe">
        insert into media
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="fileName != null">fileName,</if>
            <if test="src != null">src,</if>
            <if test="status != null">`status`,</if>
            <if test="self != null">self,</if>
            <if test="mimeType != null">`mime_type`,</if>
        </trim>
        <trim prefix="values(" suffixOverrides="," suffix=")">
            <if test="fileName != null">#{fileName},</if>
            <if test="src != null">#{src},</if>
            <if test="status != null">#{status},</if>
            <if test="self != null">#{self},</if>
            <if test="mimeType != null">#{mimeType},</if>
        </trim>
        ON DUPLICATE KEY UPDATE
        <trim suffixOverrides=",">
            <if test="fileName != null">file_name = #{fileName},</if>
            <if test="src != null">src = #{src},</if>
            <if test="status != null">`status` = #{status},</if>
            <if test="self != null">self = #{self},</if>
            <if test="mimeType != null">`mime_type` = #{mimeType},</if>
        </trim>
    </insert>
    <delete id="deleteByMediaId">
        delete
        from media
        where id = #{id};
    </delete>
    <select id="selectByUserId" resultType="com.ginDriver.main.domain.po.Media">
        select <include refid="Base_Column_List"/>
        from media
        user_id = #{userId};
    </select>
    <select id="selectGroupByMonth" resultType="java.util.Map">
        select year(media_date) year, month(media_date) month
        from media where media_date is not null
        group by year(media_date), month(media_date)
        order by year(media_date), month(media_date)
    </select>
    <select id="selectGroupByYear" resultType="java.lang.String">
        select year(media_date) year
        from media where media_date is not null
        group by year(media_date)
        order by year(media_date)
    </select>
    <select id="selectBetweenDate" resultType="com.ginDriver.main.domain.po.Media">
        select <include refid="Base_Column_List"/>
        from media
        where media_date between #{startDate} and #{endDate}
    </select>
</mapper>
