<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ginDriver.main.mapper.MenuMapper">
    <resultMap id="BaseResultMap" type="com.ginDriver.main.domain.po.Menu">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="parent_id" jdbcType="BIGINT" property="parentId"/>
        <result column="path" jdbcType="VARCHAR" property="path"/>
        <result column="component_path" jdbcType="VARCHAR" property="componentPath"/>
        <result column="icon" jdbcType="VARCHAR" property="icon"/>
        <result column="role_id" jdbcType="VARCHAR" property="roleId"/>
        <result column="status" jdbcType="TINYINT" property="status"/>
        <result column="hidden" jdbcType="TINYINT" property="hidden"/>
        <result column="type" jdbcType="BIGINT" property="type"/>
        <result column="sorted" jdbcType="TINYINT" property="sorted"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="remark" jdbcType="VARCHAR" property="remark"/>
    </resultMap>
    <sql id="Base_Column_List">
        `id`, `name`, `parent_id`, `path`, `component_path`, `icon`, `role_id`, `hidden`, `status`, `type`, `create_time`, `update_time`,
        `remark`, `sorted`
    </sql>
    <select id="getAll" resultType="com.ginDriver.main.domain.vo.MenuVO">
        select m.id,
               m.name,
               m.parent_id,
               m.path,
               m.component_name,
               m.layout_component_id,
               m.component_path,
               m.icon,
               m.role_id,
               m.status,
               m.hidden,
               m.type,
               m.sorted,
               m.remark,
               sd.label typeName,
               r.role_name
        from menu m inner join sys_dict sd on m.type = sd.id
        left join role r on m.role_id = r.id
        where m.status = 1
    </select>
    <select id="selectAllRouter" resultType="com.ginDriver.main.domain.vo.MenuVO">
        select m.id,
               m.name,
               m.parent_id,
               m.path,
               m.component_name,
               m.layout_component_id,
               m.component_path,
               m.icon,
               m.role_id,
               m.status,
               m.hidden,
               m.type,
               m.sorted,
               m.remark,
               sd.label typeName,
               r.role_name
        from menu m inner join sys_dict sd on m.type = sd.id left join role r on m.role_id = r.id
        where m.status = 1 and m.layout_component_id is not null
    </select>
    <select id="getUserMenuByUserId" resultType="com.ginDriver.main.domain.vo.MenuVO">
        select
        m.id,
        m.name,
        m.parent_id,
        m.path,
        m.component_name,
        m.layout_component_id,
        m.component_path,
        m.icon,
        m.role_id,
        m.status,
        m.hidden,
        m.type,
        m.sorted,
        m.remark,
        sd.label typeName
        from menu m
        left join sys_dict sd on m.type = sd.id
        where m.status = 1 and m.role_id in
        <foreach collection="roleIds" item="id" separator="," open="(" close=")">
            #{id}
        </foreach>
    </select>

</mapper>