<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="duegin.ginDriver.mapper.GroupMapper">

    <resultMap id="GroupBaseResultMap" type="duegin.ginDriver.domain.model.Group">
        <id property="groupId" column="group_id" jdbcType="BIGINT"/>
        <result property="groupName" column="group_name" jdbcType="VARCHAR"/>
        <result property="userId" column="user_id" jdbcType="BIGINT"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
        <result property="deleted" column="deleted" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Group_Base_Column_List">
        group_id,group_name,user_id,create_time,update_time,deleted
    </sql>
    <sql id="Group_USER_ROLE_Base_Column_List">
        group_id,user_id,role_id
    </sql>
    <insert id="insert">
        insert into `group`(group_name, user_id, group_name) VALUE (#{groupId}, #{userId}, #{groupName});
    </insert>
    <insert id="insertGroupUserRole">
        insert into group_user_role(group_id, user_id, role_id) VALUE (#{groupId}, #{userId}, #{roleId})
    </insert>
    <update id="modifyByGroupId">
        update `group`
        <trim suffixOverrides=",">
            <if test="groupName != null">set group_name = #{groupName},</if>
            <if test="userId != null">set user_id = #{userId},</if>
        </trim>
        where group_id = #{groupId};
    </update>
    <delete id="deleteByGroupId">
        delete
        from `group`
        where group_id = #{groupId};
    </delete>
    <delete id="deleteGroupUserRoleByGroupIdAndUserId">
        delete
        from group_user_role
        where user_id = #{userId} and group_id = #{groupId}
    </delete>
    <select id="selectAllByUserId" resultType="duegin.ginDriver.domain.model.Group">
        select <include refid="Group_Base_Column_List"/>
        from `group`
        where group_id in (select group_id
                          from group_user_role
                          where user_id = #{userId})
    </select>
    <select id="selectCreatorIdByGroupId" resultType="java.lang.Long">
        select user_id
        from `group`
        where group_id = #{groupId}
    </select>
</mapper>
