<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="duegin.ginDriver.mapper.UserMapper">

    <resultMap id="UserBaseResultMap" type="duegin.ginDriver.domain.model.User">
        <id property="userId" column="user_id" jdbcType="BIGINT"/>
        <result property="username" column="username" jdbcType="VARCHAR"/>
        <result property="password" column="password" jdbcType="VARCHAR"/>
        <result property="phone" column="phone" jdbcType="VARCHAR"/>
        <result property="email" column="email" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="User_Base_Column_List">
        user_id,username,`password`,phone,email
    </sql>
    <insert id="insert">
        insert into user
        <trim prefix="(" suffixOverrides="," suffix=")">
            <if test="userId != null">user_id,</if>
            <if test="username != null">username,</if>
            <if test="password != null">`password`,</if>
            <if test="phone != null">phone,</if>
            <if test="email != null">email,</if>
        </trim>
        <trim prefix="value(" suffix=")" suffixOverrides=",">
            <if test="userId != null">#{userId},</if>
            <if test="username != null">#{username},</if>
            <if test="password != null">#{password},</if>
            <if test="phone != null">#{phone},</if>
            <if test="email != null">#{email},</if>
        </trim>
    </insert>
    <insert id="insertUserRole">
        insert into user_role(user_id, role_id) VALUE(#{userId}, #{roleId});
    </insert>
    <select id="selectByUserId" resultType="duegin.ginDriver.domain.model.User" resultMap="UserBaseResultMap">
        select
        <include refid="User_Base_Column_List"/>
        from user
        where user_id = #{userId}
    </select>
    <select id="selectByUsername" resultType="duegin.ginDriver.domain.model.User" resultMap="UserBaseResultMap">
        select
        <include refid="User_Base_Column_List"/>
        from user
        where username = #{username}
    </select>
</mapper>
